.hero-container {
  margin-top: 4rem;
}
.gpol {
  font-family: 'Poppins';
  font-weight: 200;
  border: 4px #f60 solid;
  line-height: 2;
  padding: 0.4rem;
}
.hero-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.hero-img-container {
  margin-top: 1rem;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 641px) {
  .hero-container {
    display: flex;
    flex-direction: row;
  }
  .hero-text {
    width: 50%;
  }
  .hero-img-container {
    width: 50%;
  }
}
